.parent{
    justify-content: space-between;
    display: flex;
}

.title{
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 10px;
    
}

nav{
  float: right;  
 
}

a{
    text-decoration: none;
}

li{
    display : inline;
}

.maintag{
    justify-content: space-between;
}

.sentence{
    position: relative;
    top: 450px;
    font-size: 40px;

}

.picture{
   text-align: right;
   position: relative;
   bottom: 100px;
}

img{
    width: 50%;
    position: relative;
    top: 10px;
}

.parple{
    background-color: rgb(6, 6, 146);
    width: 1000px;
    height: 150px;
    position: relative;
    top: 400px;
}