

body{
   max-width: 100%;
   min-width: 50%;
   
}
.parent{
    justify-content: space-between;
    display: flex;
}

.title{
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 10px;
    
}

nav{
  float: right;  
 
}

a{
    text-decoration: none;
}

ul{
    justify-content: space-around;
}
li{
    display : inline;
}

main{
    width: 100%;
    height: 100%;
}

.maintag{
    justify-content: space-between;
    position:relative;
    
    
    
}

.sentence{
    position: absolute;
    top: 30vh;
    height: auto;
    font-size: 50px;
    left: 0;
    


}

.picture{
    text-align: right;
    position: absolute;
    top: 10vh;
    right: 1%;
    width: 50%;
  
  
}

img{
    width: 100%;
    
   
    
}

.parple{
    background-color: rgb(6, 6, 146);
    width: 70vw;
    height: 20vh;
    position: absolute;
    top: 33vh;
    left: 0;
    
}