a {
    text-decoration: none;
    color: blue;
  }
  .header {
   max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 70px;
    padding: 0 30px;
    color: blue;

  }
  .header-ttl {
    font-size: 24px;
    
    
  }
  .header-nav-list {
    display: flex;
    font-weight: bold;
  }
  .header-nav-item {
    margin-right: 30px;
  }
 
  .main-content{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: block;
   
  }

  


.navy{
    position: absolute;
    width: 70%;
    height: 20%;
    margin-top: 39%;
    background-color:navy;
    z-index: 100;
}  
  
.img{
    position: absolute;
    width: 50%;
    height: 30%;
    top: 18%;
    z-index: 1000;
    right: 0;
    }
  

 

img{
      width: 100%;
      }


.sentence{
    position: absolute;
    margin-top:35%;
    font-size: 48px;
   }

 